<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <h1><%= routine.workoutName %></h1>
    <p><%= routine.description %></p>
    <p>Public: <%= routine.isPublic %></p>

    <a href="/routines/<%= routine._id %>/edit">Edit</a>

    <br /><br />

    <form action="/routines/<%= routine._id %>?_method=Delete" method="post">
      <button>Delete</button>
    </form>
    <br />

    <a href="/routines/add-exercises/<%= routine._id %>">Add Exercises</a>
    <br /><br />

    <a href="/routines">Back</a>
  </body>
</html>
